html {
    background: url(assets/cutevariantbg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1,
h2 {
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#header {
    width: 98%;
    padding: 0.5%;
    border-bottom: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 209, 209);
    font-size: 150%;
}

#header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    padding: 0% 1% 0% 0%;
}

#header div {
    display: flex;
    width: 20%;
}

#header a {
    display: flex;
    margin: 0% 4% 0% 2%;
}

#header p {
    margin: auto;
}

.flex-row {
    display: flex;
}

#cvlogo {
    width: 64px;
    margin: auto;
}

a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}


/* === Central section  === */

#centralsection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    color: rgb(209, 209, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 1% 0% 0% 0%;
}

#centralsection h1 {
    font-size: 225%;
    letter-spacing: 5px;
}

#centralsection h2 {
    margin: 0.5% 0% 1% 0%;
    font-size: 125%;
    letter-spacing: 1px;
}


/* === menu deroulant === */

#menu-deroulant {
    width: 150px;
    height: 34px;
}

#menu-deroulant,
#menu-deroulant ul {
    padding: 0;
    margin: auto;
    list-style: none;
}

#menu-deroulant {
    text-align: center;
}

#menu-deroulant li {
    display: inline-block;
    background-color: rgb(253, 135, 0);
}

#menu-deroulant ul li {
    display: inherit;
    background-color: rgb(248, 181, 58);
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    width: 175px;
    padding: 5%;
}

#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu-deroulant li:hover ul {
    left: auto;
}

#menu-deroulant li ul li {
    padding: 5%;
}


/* === video === */

.video {
    margin: 1.5% 0% 0% 0%;
    width: 57%;
}

video::-webkit-media-controls {
    display: none !important;
}